Package: com.b1uekeys.b1ue
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: hide them pesky page dots
Maintainer: System Administrator
Author: System Administrator
Section: Tweaks
